.navbar {
  align-content: center;
  align-content: center;
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  justify-content: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid gray;
  background-color: #FFAAAA
}