body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  margin-top: 0px !important;
}